<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Hem</a></li>
  <li class="{% if page.url contains '/for_medlemmar/' %} active {% endif %}"><a href="{{ "/for_medlemmar/" | absolute_url }}">För&nbsp;medlemmar</a></li>
  <li class="{% if page.url contains '/om_foreningen/' %} active {% endif %}"><a href="{{ "/om_foreningen/" | absolute_url }}">Om&nbsp;föreningen</a></li>
  <li class="{% if page.url contains '/styrelse_och_stadgar/' %} active {% endif %}"><a href="{{ "/styrelse_och_stadgar/" | absolute_url }}">Styrelse&nbsp;och&nbsp;stadgar</a></li>
  <li class="{% if page.url contains '/pagaende_projekt/' %} active {% endif %}"><a href="{{ "/pagaende_projekt/" | absolute_url }}">Pågående&nbsp;projekt</a></li>
<!--  <li class="{% if page.url contains '/kontakt/' %} active {% endif %}"><a href="{{ "/kontakt/" | absolute_url }}">Kontakt</a></li>-->
</ul>
